@page
@model MJ_Rent_Login.Pages.BorrowRecords.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>詳細資料</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRecord.RoomId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRecord.RoomId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRecord.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRecord.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRecord.BorrowDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRecord.BorrowDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRecord.PrevBorrowTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRecord.PrevBorrowTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRecord.ActualBorrowTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRecord.ActualBorrowTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BorrowRecord?.Id">編輯</a> |
    <a asp-page="./Index">返回列表</a>
</div>
